/*
.game-control-panel {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.bottom-control-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  padding: 10px 0;
}

.control-group {
  display: flex;
  align-items: center;
}

.control-group-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.control-label {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.text {
  color: white;
  font-size: 20px;
  font-weight: bold;
}*/

