.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bottom-control-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  padding: 10px 0;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.control-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-group-start {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.control-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.control-button-spin {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  padding-bottom: 50px;
}

.info img {
  width: 70px !important;
  height: 70px !important;
}

.spin img {
  width: 100px !important;
  height: 100px !important;
  border: 1px solid white;
  border-radius: 50px;
}

.control-button img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.spin-button {
  position: relative;
  top: -30px;
}
.text {
  color: white;
  font-size: x-large;
  font-weight: bold;
}
.sound img {
  padding-left: 5px;
}

.control-label {
  color: white;
  font-size: larger;
  font-weight: bold;
  font-variant: all-petite-caps;
  padding-left: 10px;
}

@media (max-width: 768px) {
  .bottom-control-bar {
    flex-direction: row;
    align-items: center;
    height: auto;
  }

  .control-group-start {
    flex-direction: row;
    justify-content: center;
  }

  .spin-button {
    margin-top: 0;
    margin-left: 20px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
